.comments {
    margin-top: 20px;
  }
  
  .comments-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }
  
  .comments-container {
    margin-top: 40px;
  }
  
  .comment-form-title {
    font-size: 22px;
  }
  
  .comment-form-textarea {
    width: 100%;
    /* height: 120px; */
    font-size : 2rem;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
    background-color: #ffffffb2;
    
  }
  
  .comment-form-button {
    font-size: 16px;
    padding: 8px 16px;
    background: rgb(59, 130, 246);
    border-radius: 8px;
    color: white;
  }
  
  .comment-form-button:hover:enabled {
    cursor: pointer;
    background: #0C356A;
  }
  
  .comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  
  .comment-form-cancel-button {
    margin-left: 10px;
  }
  
  .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
  }
  
  .comment-image-container {
    margin-right: 12px;
    font-size: 2.8rem;
  }
  
  .comment-image-container img {
    border-radius: 50px;
  }
  
  .comment-right-part {
    width: 100%;
  }

  .comment-content {
    display: flex;
    justify-content: space-between;
  }
  
  .comment-author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
    margin-top: 20px;
  }
  
  .comment-text {
    font-size: 18px;
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(59, 130, 246);
    cursor: pointer;
    margin-top: 8px;
    justify-content: flex-end;
  }
  
  .comment-action {
    margin-right: 8px;
    text-decoration: underline;
  }
  
  .comment-action:hover {
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;
  }

  .comment-date{
    margin-top: 25px;
    font-size: small;
  }

  .div-button{
    display: flex;
    justify-content: space-between;
  }