
.stu_margin{
 padding-top: 150px;
}

.coverEnrolledCourses{
    background-color: rgba(12, 53, 106, 0.7);
    height: 100vh;
}

.edu_stu-viewcourses-large-input{
    z-index: 10;
}



.stu_background_img{
    background: url(./../../../data/imgs/StuDashCourseSec.jpg);
    background-size: cover; 
    height: 100vh;
}
