
.stu_margin{
 padding-top: 150px;
}




.stu_background_img{
    background: url(./../../../data/imgs/StuDashCourseSec.jpg);
    background-size: cover; 
    background-color: rgba(12, 53, 106, 0.7);
    height: 100vh;
}
