

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.Sidebar{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    transition: all 300ms ease;
    background: #4b11bf;
    /* font-family: 'Lora', serif; */
    letter-spacing: 2px;
}

img{
    width: 250px;

}

.menu{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.menuItem{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 3rem;
    margin-left: 1rem;
    position: relative;
    font-size: 15px;
    border-radius: -0.9rem;
    margin-top: 0;
    margin-left: 20px;
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.navlink{
    text-decoration: none;
}

.active{
    background-color: #f8f9fa;
    color: #4b11bf;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    padding-left: 75px;
    margin-left: -30px;
}
.active:before,
.active:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0;
  background:radial-gradient(circle at top left, #fff0 72%, #f8f9fa 75%);
}

.active:after {
  right: 0;
  top:100%;
  background:radial-gradient(circle at bottom left, #fff0 70%, #f8f9fa 75%);
}

.active:before {
  bottom:100%;
   right:0;
}
.bars{
    display: none;
}
.menuItem:hover{
    cursor: pointer;
    
}

@media (max-width:600px){
    .menuItem>span{
        display: block;
    }
    
    .logo {
        display: flex;
        justify-content: space-around;
    }
    .Sidebar{
        position: fixed;
        z-index: 9;
        background: #4b11bf;
        width:50%;
        /* padding-right: 1rem; */
        height:100%;
    }

    .bars{
        display: flex;
        position: fixed;
        top: 2rem;
        z-index: 12;
        background: #4b11bf;
        padding: 10px;
        border-radius: 10px;

    }
}

@media (min-width: 601px) and (max-width: 1200px){
    .menuItem>span{
        display: none;
    }
    .logo-hidden {
        display: none;
    }
    .active{
        padding-left: 55px;
        margin-left: -20px;
    }
    .Sidebar{
       width: 80px;
    }
}