.about-container {
    display: flex;
    margin-top: 40px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .about__background {
    flex: 1;
    width: 50%;
  }
  
  .about__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about__content {
    flex: 1;
    padding: 20px;
  }
  
  .about__content h2 {
    font-weight: 600;
    color: #333;
  }
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column; 
    }
  
    .about__content {
      padding: 20px;
      text-align: center; 
    }
  
    .about__background img {
        width: 100%;
        height: 100%;
        object-fit: contain; 
      }
  }