.scheduler {
    width: 250px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    /* background-color: #007acc; */
    color: black;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 15px;
  }
  
  .weekday {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  
  .day {
    position: relative;
    text-align: center;
    /* background-color: #f2f2f2; */
    padding: 7px 5px;
    border-radius: 5px;
  }

  .day-number {
    font-size: 15px;
  }
  
  .badge {
    position: absolute;
    top: 0;
    left: 2px;
    background-color: #cf662481;
    /* color: black; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  