section .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    
  }
  section .imgBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 160px;
  }

  @media (max-width: 768px) {
    section .imgBox{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
    }
}
