.register_section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-self: center;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}

.outerdiv {
    background-color: azure;
}

.EDU_register_form_data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    background-color: #4b11bf;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    width: 950px;

}

.EDU_register_form_data .form_heading {
    color: white;
    justify-self: center;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 400px;
    margin: auto;
}

.EDU_register_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.EDU_register_form p {
    margin-right: 0px;
}

.custom-link {
    margin: auto;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.EDU_register_form input {
    margin: 20px 0px 12px 0px;
    /* width: 500px; */
}

.EDU_register_form label {
    display: block;
    margin-bottom: 5px;
}

.EDU_register_form input,
.EDU_register_form select {
    width: 210px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px 15px 12px 0px;
    margin-right: 30px;
}

.gender1 {
    display: inline-block;
    align-items: center;
    gap: 10px;
}

.gender1 input[type="radio"] {
    /* display: block; */
    width: 20px;
}

.gender1 label {

    margin: 20px;

}

.EDU_register_form input[type="text"] {
    display: inline-block;
}


@media (max-width: 768px) {


    .EDU_register_form_data{
        width: 500px;
      }
    .register_section {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: flex-start;
    }

    .EDU_register_form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .EDU_register_form .custom-link {
        margin: auto;
    }
  
    .EDU_register_form input, .EDU_register_form select {
        width: 210px;
        margin-right: 0;
      }
}