.card_container{
    flex : 33%;
    /* position: relative; */
    /* width: 280px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

.courses_card {
    transition: transform .2s;
    border-radius: 1rem;
    width: 280px;
    /* margin: auto 30px; */
    
    /* height: 500px; */
    
    box-shadow: 5px 6px 22px -5px rgba(75, 17, 191, 0.66);
    -webkit-box-shadow: 5px 6px 22px -5px rgba(75, 17, 191, 0.66);
    -moz-box-shadow: 5px 6px 22px -5px rgba(75, 17, 191, 0.66);
}

.courses_card:hover {
    /* border-radius: 1rem; */
    transform: scale(1.08);
    /* box-shadow: none; */
    /* border: 2px solid #4b11bfad; */
}

/* .courses_card-head {
    padding: 3rem 2rem;
    position: relative;
    background: #f8f9fad1;
    height: 252px;
    /* background: #fa782e; 
    border-radius: 1rem 1rem 0 0;
} */

.courses_product-detail {
    padding: 20px 20px;
    font-size: 15px;
    color: gray;
}

.courses_product-detail h2 {
    font-size: 18px;
    font-weight: 500;
    height: 4.5rem;
    color: #f35e3d;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* .courses_back-text {
    display: inline-block;
    font-size: 90px;
    font-weight: 900;
    margin-left: 9px;
    margin-top: 5px;
    opacity: 0.1;
} */

.courses_card-body {
    height: 450px;
    background: #fff;
    border-radius: 1rem;
    padding: 20px 20px 5px 20px;
}

.courses_product-title {
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.courses_product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}

.courses_badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}

.courses_product-caption {
    display: block;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.courses_product-rating {
    padding: 0 20px;
    font-size: 13px;
    color: #f35e3d;
}

/* .courses_product-rating i.grey {
    color: #acacab;
} */

.courses_product-size h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.ul-size {
    margin-left: 15px;
}

.ul-size li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: #000;
}

.courses_product-size:before,
.courses_product-size:after {
    content: "";
    display: block;
    clear: both;
}

.courses_product-color h4 {
    font-size: 11px;
    padding: 0 21px;
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    text-transform: uppercase;
}

.courses_ul-color {
    margin-left: 27px;
}

.courses_ul-color li {
    list-style: none;
    float: left;
    margin-right: 20px;
}

.courses_ul-color li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.courses_ul-color li a.orange {
    background: #f35e3d;
}

.courses_ul-color li a.green {
    background: #11e95b;
}

.courses_ul-color li a.yellow {
    background: #ffd414;
}

.courses_ul-color li a.courses_active:after {
    position: absolute;
    content: "";
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;
}

.courses_product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

}

.courses_product-price button {
    margin-left: 5px;
    background-color: #f35e3d;
    color: white;
    cursor: pointer;
}

.yt {
    position: fixed;
    padding: 7px 10px 3px 10px;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
    background: rgba(0, 0, 0, 0.2);
}