/* CSS for EduDashboard */

.container1 {
    background-color: rgba(12, 53, 106, 0.7);
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
    position: relative; 
  }
  
  .maindash {
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: 92px;
    position: sticky;
    background-image: url('./../../../data/imgs/StuDashCourseSec.jpg');
    background-size: cover;
    height: 88.85vh;
  }
  
  .maindash::before {
    content: "";
    background-color: rgba(12, 53, 106, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .header {
    display: flex;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    font-size: 26px;
  
  }
  .heading{
    color: rgb(122, 122, 244);
  }
  .heading > h1 {
    padding-left: 14rem;

  }
  .heading > h1 > span {
    color: white;
  }
  
  .profilephoto {
    background-color: #f8f9fa;
    border-radius: 50%;
    margin-right: 15rem;
    height: 100px;
    width: 100px;
    cursor: pointer;
   
  }
  
  .profilephoto img {
    border: 2px solid white;
    border-radius: 50%;
    padding: 6px;
    height: 100px;
    width: 100px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px; 
    gap: 20px;
  }
  
  .graphcal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; 
    padding-bottom: 20px; 
    gap: 15px;
    
  }
  
  
  .courses {
    margin-top: 20px;
    color: black;
    box-shadow: 0 6px 19px rgba(12, 52,106, 0.30), 0 15px 31px rgba(12, 52,106, 0.22);
  }
  
  
  
  
  
  
  .graph,
  .calendar {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 6px 19px rgba(12, 52,106, 0.30), 0 15px 31px rgba(12, 52,106, 0.22);
  }
  

  
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .maindash {
      grid-template-columns: 1fr;
      overflow-y: scroll;
    }
  
    .maindash::-webkit-scrollbar {
      display: none;
    }
  
    .calendar {
      margin: auto;
    }
    .heading > h1 {
      padding-left: 3rem;
      font-size: 3rem;
  
    }
    .profilephoto{
      margin-right: 3rem;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1200px) {
    .maindash {
      padding: 15px 25px;
      overflow-y: scroll;
    }
  
    .calendar {
      margin: auto;
    }
  }
  
