.edp-main-container {
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
#line{
  color: white;
}
.edp-heading {
  color: #007bff;
}

.edp-sub-main {
  display: flex;
  width: 70%;
}

.edp-photo-edit {
  padding: 0 15px;
  margin-left: 100px;
}

.edp-personal-info {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
}

.edp-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.edp-photo-edit h6 {
  font-size: 1rem;
  color: #333;
}

.edp-form-group {
  margin-top: 10px;
  display: table-caption;
}

.edp-form-control {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}
.edp-about{
  display: block;
}
form h3 {
  font-size: 1.5rem;
  margin-top: 15px;
}
.edp-second-col{
  margin-left: 20px;
}
.edp-form-group label {
  font-weight: bold;
}

.edp-submit-button{
  background-color: #007bff;
  width: 100px;
  margin-left: 300px;
  margin-top: 50px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px;
  text-decoration: none;
}

@media (max-width:600px){
  .edp-main-container{
    width: fit-content;
  }
  .edp-sub-main{
    display: inline-block;
  }
  .edp-sec-form{
    margin-top: 30px;
  }
  .edp-first-form{
    width: fit-content;
  }
}

@media (min-width: 601px) and (max-width: 1200px){
  .edp-main-container{
      height: fit-content;
      width: fit-content;
  }

}
