.ep-profile{ 
    /* height: fit-content; */
    width: 100vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 1.5rem; */
    background-color: #0c356a;
    position: relative;
}
.ep-sub-profile{
    /* box-shadow: 0px 0px 20px 5px black; */
    height: 600px;
    width: 850px;
    position: relative;
    /* background-color: #0c356a; */
}
.ep-profile::before{
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 1500px; */
    left: 0px;
    bottom: 0px;
    /* background-image: url(/public/images/Profilepage.jpg); */
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    opacity: 0.3;
}

.ep-pro-heading{
    font-size: 3rem ;
    color: white;
    text-decoration: underline;
}

.ep-upper-container{
    height: 300px;
    /* width: -webkit-fill-available; */
    /* display: inline; */
    display: flex;
    position: relative;
    color: #f2f2f2;
    /* padding-left: 150px; */
    /* margin-left: 150px; */
}
.ep-image-container{
    height: 300px;
    width: 400px;
    margin-left: 100px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ep-image-container img{
    background-color: white;
    height: 200px;
    width: 170px;
    padding: 5px;
}
.ep-username{
    /* color: black; */
    margin-top: 10px;
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ep-personalinfo{
    padding-top: 50px;
    height: 300px;
    width: -webkit-fill-available;
    /* background-color: grey; */
}

.ep-profilename {
    margin-left: 50px;
    height: 53px;
    width: auto; 
    font-size: 30px;
    /* color: black; */
    font-weight: bold;
}
.ep-Icon{
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    /* margin-left: 400px; */
    margin-top: 10px;
    /* color: black; */
    font-size: 20px;
}
.ep-age-icon{
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.ep-country-icon{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}
.ep-email{
    display: flex;
    align-items: center;
    margin-left: 50px; 
    margin-top: 20px;
    /* color: black; */
    width: auto;
    font-size: 20px;
}
.ep-email1{
    margin-left: 20px;
}
.ep-mo-number{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    /* color: black; */
    width: auto;
    font-size: 20px;
}
.ep-mo-number1{
    margin-left: 20px;
} 

.ep-lover-container{
    /* background-color: bisque; */
    /* width: fit-content; */
    padding: 35px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    color: #f2f2f2;
}

.ep-about-head{
    font-size: 20px;
    /* color: black; */
    font-weight: bolder;
}

.ep-about{
    /* color: black; */
    font-size: 17px;
    padding:15px;
    margin-top: 20px;
}
.ep-edit-button{
    width: 200px;
    height: 40px;
    color: white;
    display: block;
    margin-top: 50px;
    margin-left: 280px;
    background-color: #0c356a;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 7px;
    border-width: 3px;
    border-color: #f2f2f2;
    border-style: solid;
    text-decoration: none;
}

.ep-edit-button:hover{
    color: white;
    background-color: #1a083f;
}

@media (max-width:600px){
    .ep-profile{
        height: fit-content;
        width: fit-content;
    }
    .ep-sub-profile{
        height: fit-content;
    }
    .ep-upper-container {
        width: fit-content;
        display: inline-block;
    }
    .ep-image-container{
        width: auto;
        margin-left: 50px;
    }
    .ep-personalinfo{
        width: auto;
        margin-left: 250px;
    }
    .ep-Icon{
        display: inline-block;
    }
    .ep-country-icon{
        margin-left: 0px;
        margin-top: 20px;
    }
    .ep-lover-container{
        width: fit-content;
        text-align: center;
    }
    .ep-about{
        width: -webkit-fill-available;
        text-align: center;
    }

}

@media (min-width: 601px) and (max-width: 1200px){
    .ep-profile{
        height: fit-content;
        width: fit-content;
    }

}
