.epn-container1{
    height: fit-content;
}
.epn-profile{ 
    height: 100%;
    width: 100%;
    padding-top: 40px;
    border-radius: 5px;
    background-color: #0c356a;
    position: relative;
    color: white;
}

.epn-profile::before{
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 1500px; */
    left: 0px;
    bottom: 0px;
    background-image: url(/public/images/Profilepage.jpg);
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover;
    opacity: 0.3;
}

.epn-upper{
    /* padding: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #0c356a;
    position: relative;
}
.epn-sub-upper{
    display: flex;
    height: 250px;
}
.epn-image-container1{
    /* height: 300px; */
    width: 350px;
    /* margin-left: 100px; */
    /* margin-top: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.epn-image-container1 img{
    background-color: #0c356a;
    height: 170px;
    width: 150px;
    margin-left: 60px;
    padding: 2px;
    /* border-style: solid; */
    border-radius: 10px;
}

.epn-user{
    width: 500px;
}
.epn-username1{
    /* color: black; */
    margin-top: 40px;
    font-weight: bolder;
    font-size: 3rem;
}

.epn-about{
    margin-top: 20px;
    font-size: 1.7rem;
}

.epn-lover{
    display: flex;
    align-items: center;
    justify-content: center;
}
.epn-personalinfo{
    margin-left: 80px;
}

.epn-basicinfo{
    padding: 30px;
    margin-bottom: 20px;
    margin-top: -35px;
    height: 560px;
    width: 600px;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    position: relative;
    color: #0c356a;
    /* border-radius: 10px; */
}
.epn-Sub-basicinfo{
    display: flex;
    margin-top: 5px;
}
.epn-basic-heading{
    font-size: 2.5rem;
}
.epn-info-submain{
    margin-top: 20px;
    border-bottom: 1px solid #0c356a;
    padding-bottom: 10px;
}
.epn-edit-button{
    width: 120px;
    height: 30px;
    color: white;
    margin-top: 25px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c356a;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    font-size: 1.6rem;
    border-radius: 5px;
    text-decoration: none;
}

.epn-edit-button:hover{
    color: white;
    background-color: #1a083f;
}

@media (max-width:600px){
    .epn-profile{
        padding-top: 70px;
    }
    .epn-upper{
        height: 450px;
        padding: 20px;
    }
    .epn-sub-upper{
        display: inline-block;
        height: 395px;
    }
    .epn-image-container1{
        width: -webkit-fill-available;
    }
    .epn-user{
        width: -webkit-fill-available;
    }
    .epn-about{
        font-size: 1.5rem;
    }
    .epn-basicinfo{
        font-size: 1.5rem;
        height: -webkit-fill-available;
        width: auto;
    }
    .epn-username1{
        font-size: 2.1rem;
    }
    .epn-personalinfo{
        margin-left: 5px;
    }
    .epn-edit-button{
        margin-left: initial;
    }
    .epn-image-container1 img{
        margin-left: 0px;
    }
}

@media (min-width: 601px) and (max-width: 1200px){
    .epn-profile{
        height: fit-content;
        width: fit-content;
        padding-top: 75px;
    }
    .epn-sub-upper{
        padding: 20px;
    }

}
