.create-course-container {
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    background: #f8f9fa;
    padding: 1rem 9rem;
    /* width: 100vw; */
    /* padding-left: 50px; */
    color: black;
    /* background-color: blue; */
}

.create-course-form {
    flex: 1;
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.ccform {
    margin: auto;
    background-color: #f8f9fa;
}

.no-button {
    display: inline-block;
}

.create-course-image {
    margin: 30px;
    /* width: 100%; */
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-course-image img {
    width: 60vh;
}

.form-group {
    margin: 10px 0;

}

.form-group label {
    display: inline-flex;
    font-weight: bold;
    color: #4b11bf;
}

.form-group textarea {
    width: 250px;
    /* height: 150px;  */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4b11bf;
    color: black;
    /* outline: none; */
    /* border-radius: 5px; */
    /* background: rgba(255, 255, 255, 0.1); */
}

.ccsubmit {
    display: block;
    background: #f35e3d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}



.ccsubmit:hover {
    background: #4b11bf;
}

.description {
    height: 50px;
}

@media (max-width: 600px) {
    .create-course-image {
        display: none;
    }

    .create-course-container{
        padding: 0;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .create-course-image {
        display: none;
    }
}
